<span class="" style="float: right;margin-right:1rem">
    <p>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
        </svg>
        <span style="color: rgb(94, 93, 93);font-size:1.3rem">
            &nbsp;{{authenticatedUser}}
        </span>

        <span>

            &nbsp;

            <a href="/auth/logout" class="btn btn-secondary"> logout</a>
        </span>
    </p>
</span>
<center><h1 style="margin-bottom: 1rem;">Waiters Dashboard</h1></center>
<hr />

<br />
<span id="username" data-value="{{authenticatedUser}}"></span>
<div class="container">

    <div class="row">
        <div class="col-9">
            <center>
                  <div style="width:60%;border-radius:20px;padding:0.55rem;border:2px red solid;background-color:rgb(255, 196, 196)" class="errors">
                    <center>
                         <p style="margin:0;color:red" >&nbsp;
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
                        <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"/>
                        <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"/>
                        </svg>
                        A minimum of 3 days must be selected
                    </p>
                    </center>
                    </div>
               
                <br>
                <h3 style="color: rgb(63, 63, 63);margin-bottom:1rem">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-calendar-day" viewBox="0 0 16 16">
                        <path d="M4.684 11.523v-2.3h2.261v-.61H4.684V6.801h2.464v-.61H4v5.332h.684zm3.296 0h.676V8.98c0-.554.227-1.007.953-1.007.125 0 .258.004.329.015v-.613a1.806 1.806 0 0 0-.254-.02c-.582 0-.891.32-1.012.567h-.02v-.504H7.98v4.105zm2.805-5.093c0 .238.192.425.43.425a.428.428 0 1 0 0-.855.426.426 0 0 0-.43.43zm.094 5.093h.672V7.418h-.672v4.105z" />
                        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
                    </svg>&nbsp;
                    <span>
                        Pick a day
                    </span>
                </h3>
   
            </center>
            <div class="justify-content-center d-flex">
                <div class="days-wrapper">

                    {{#each all_days}}
                        <div style="position: relative;" class="days {{#each ../days}}{{#if (eq this.weekday ../this.weekday) }} booked{{/if}} {{/each}}" id="1" data-value="{{this.weekday}}">
                     
                            <p style="margin-top: 2rem;color:rgb(49, 49, 49)" >{{this.weekday}}</p> 
                            {{#each ../days}}
                                {{#if (eq this.weekday ../this.weekday) }}
                                    <div class="rounded-pill" style="border: 1px blue solid;background-color:rgb(50, 139, 255);color:rgb(248, 248, 248);font-size:0.95rem" >
                                       <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                                            <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
                                            <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
                                        </svg>&nbsp;selected
                                    </div>
                                {{/if}}
                            {{/each}}
                        </div>
                    {{/each}}

                </div>

            </div>
            <br />
            <br />
            <center>
                <button class="btn btn-primary" id="submit">Schedule</button>
            </center>
        </div>

        <div style="border-left: 1px rgb(168, 168, 168) solid ;" class="col-3">
            <center>
                <h3 style="color: rgb(63, 63, 63);margin-left:3rem">Scheduled Days</h3>
            </center>
            <br />

            {{#each days}}
                <div class="d-flex">
                    <div style="margin-bottom:0.8rem;background-color:rgb(221, 221, 221)" class="card card-body">
                        <center>

                            <span>
                                {{this.weekday}}
                                <span style="float: right;">
                                    <a style="text-decoration: none;color:rgb(255, 91, 91)" href="/waiters/remove/{{this.id}}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                                        </svg>
                                    </a>
                                </span>
                            </span>
                        </center>
                    </div>
                </div>
            {{/each}}
        </div>

    </div>

    <hr />

</div>

<script src="/js/feedback.DOM.js"></script>